
<h1 class="current-category"><%= params[:category] %></h1>

<h1><% if @movies.count == 0 %></h1>
        <h1>There are no movies in this category yet.</h1>
    <% else %>
        <% @movies.each do |movie| %>
            <a href="/movies/<%= movie.id %>">
                <%= image_tag movie.movie_img.url(:movie_index) %>
            </a>
        <% end %>
    <% end %>
